<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'administrador/checa_documentos/style.css' %}">
    <title>Meu Site</title>
  </head>
  <body>
  <div class="container">
    <h1>Selecione os documentos</h1>
    <form action="#">
      <div class="document">
        <input type="checkbox" id="doc1">
        <label for="doc1">Documento 1</label>
        <button class="correct">Correto</button>
        <button class="incorrect">Incorreto</button>
      </div>
      <div class="document">
        <input type="checkbox" id="doc2">
        <label for="doc2">Documento 2</label>
        <button class="correct">Correto</button>
        <button class="incorrect">Incorreto</button>
      </div>
      <div class="document">
        <input type="checkbox" id="doc3">
        <label for="doc3">Documento 3</label>
        <button class="correct">Correto</button>
        <button class="incorrect">Incorreto</button>
      </div>
      <div class="document">
        <input type="checkbox" id="doc4">
        <label for="doc4">Documento 4</label>
        <button class="correct">Correto</button>
        <button class="incorrect">Incorreto</button>
      </div>
      <div class="document">
        <input type="checkbox" id="doc5">
        <label for="doc5">Documento 5</label>
        <button class="correct">Correto</button>
        <button class="incorrect">Incorreto</button>
      </div>
      <div class="document">
        <input type="checkbox" id="doc6">
        <label for="doc6">Documento 6</label>
        <button class="correct">Correto</button>
        <button class="incorrect">Incorreto</button>
      </div>
      <!-- Adicione mais documentos aqui, se necessário -->
    </form>
  </div>
  </body>