@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    background-color:  #3897a8;;
}

label {
    font-weight: bold;
    color: white;
    height: 60px;
    width: 250px;
    background-color: yellowgreen;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label:hover{
    background-color:  #45a049;
}

input[type="file"]{
    display: none;
}
