<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'administrador/admin_header.css' %}">
</head>
<!-- Botão para logout -->
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logoff</button>
</form>
<div class="fixed-header">
    <div class="dropdown">
        <div class="dropdown-content">
            <ul>
                <li><a href="{% url 'home' %}">Página Inicial</a></li>
                <li><a href="{% url 'alteracao_cadastral' %}">Alteração Cadastral</a></li>
                <li><a href="{% url 'document_approval' %}">Análise Documental</a></li>
                <li><a href="{% url 'author_list' %}">Reabrir processo individual</a></li>
            </ul>
        </div>
    </div>
</div>