<head>
  {% load static %}
    <link rel="stylesheet" href="{% static 'administrador/home/alteraçao_cadastral.css' %}">
</head>
<body>
{% include 'administrador/admin_header.html' %}
    {% block content %}
  <h1>Lista de usuários cadastrados</h1>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Nome Completo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.email }}</td>
          <td>{{ user.fullname }}</td>
          <td><a href="{% url 'edit_user' user.pk %}">Editar</a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">Nenhum usuário encontrado.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

</body>