<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'administrador/home/alteraçao_cadastral.css' %}">
    <title>Author List</title>
    {% include 'administrador/admin_header.html' %}
</head>
<body>
    <h1>Author List</h1>
    <ul>
        {% for author in authors %}
            <li><a href="{% url 'document_list' author.author %}">{{ author.author__fullname }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>