@charset "UTF-8";

body {
    display: flex;
    align-items: left;
    justify-content: center;
    min-height: 100vh;
    margin: 2px;
    padding: 2px;
    background-color: rgb(197, 232, 244);
    font-family: Arial, Helvetica, sans-serif;
}

.fileupload-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

#fileupload-form > div {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

#fileupload-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-bottom: 15px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 50px;
}
.modal div {
    display: none;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}


.modal img,
.modal embed {
    display: none;
    margin: auto;
}

#fileupload-input_file {
    cursor: pointer;
}

#fileupload-form > input[type="submit"] {
    margin: 10px;
    background-color: #3897A8;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
}

#fileupload-form > input[type="submit"]:hover {
    background-color: #45a049;
}