<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>Login - PMP</title>
</head>
<body>
	<div>
		<h2>Entrar</h2>
		<form action="index.php">
			<label for="username">Usuário</label>
			<input type="text" id="username" name="username" required>

			<label for="password">Senha</label>
			<input type="password" id="password" name="password" required>

			<input type="submit" value="ENTRAR">

			<a href="../EsqueciMinhaSenha/esqueciminhasenha.html">Esqueci minha senha</a>
		</form>
	</div>
</body>
</html>