body {
    background-color:#2d3436;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

H1, H2, p, form, img, image, embed, hr {
    background-color: #2d3436;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    color: #fff;
}

.preview{
    background-color: rgb(199, 231, 241);
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



