body {
  background-color: rgb(199, 231, 241);
}

.dropdown {
  position: center;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: lightblue;
}

/* Adicione o CSS aqui */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header-content {
  color: rgb(143, 52, 52);
}

.dropdown .dropdown-content a {
  text-decoration: none;
  color: rgb(13, 14, 13);
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}

.dropdown .dropdown-content li {
  list-style: none;
  padding-right: 24px;
}


.fixed-header .dropdown p {
  font-size: 28px;
  background-color: rgb(99, 187, 202);
  border-radius: 15%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fixed-header p {
  font-size: 22px;
  background-color: rgb(99, 187, 202);
  border-radius: 15%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 550;
}