<!DOCTYPE html>
<html>
  <head>
    <title>Formulário de envio de documentos</title>
    {% load static %}
    <link href="{% static 'pmp/send_document.css' %}" rel="stylesheet" />
  </head>
  <body>
    <!-- Botão para logout -->
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Logoff</button>
  </form>
    <h1>Formulário de envio de documentos</h1>
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {% if error_message %}
        <p class="error">{{ error_message }}</p>
      {% endif %}
      {% if success_message %}
        <p class="success">{{ success_message }}</p>
      {% else %}
        <table>
          {% for item in document_names %}
          <tr>
            <td>
              <label for="document_{{ forloop.counter }}">{{ item }}:</label>
              <input
                accept="image/*,.pdf"
                id="document_{{ forloop.counter }}"
                name="document_{{ forloop.counter }}"
                onchange="preview_file(event, 'preview_{{ forloop.counter }}')"
                type="file"
              />
            </td>
            <td>
              <div
                class="preview"
                id="preview_{{ forloop.counter }}"
                onclick="toggle_fullscreen(this)"
              ></div>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="2">
              {% if document_names %}
              <input type="submit" value="Submit" id="submit-button" disabled/>
              {% else %}
              <p>Nenhum documento para enviar</p>
              {% endif %}
            </td>
          </tr>
        </table>
      {% endif %}
    </form>
    <script>
      function preview_file(event, preview_id) {
        var file = event.target.files[0];
        var preview = document.getElementById(preview_id);
        check_files();

        if (file) {
          preview.style.display = "block";

          if (file.type.startsWith("image/")) {
            var reader = new FileReader();
            reader.onload = function () {
              preview.innerHTML =
                '<img src="' + reader.result + '" width="100%" height="100%">';
            };
            reader.readAsDataURL(file);
          } else if (file.type == "application/pdf") {
            preview.innerHTML =
              '<object data="' +
              URL.createObjectURL(file) +
              '" type="application/pdf" width="100%" height="100%"></object>';
          } else {
            preview.innerHTML = "Unsupported file type: " + file.type;
          }
        } else {
          preview.style.display = "none";
        }
      }

      function toggle_fullscreen(element) {
        if (element.style.display != "none") {
          element.classList.toggle("fullscreen");
        }
      }

      function check_files() {
        var file_inputs = document.getElementsByTagName("input");
        var submit_button = document.getElementById("submit-button");
        var all_files_selected = true;

        for (var i = 0; i < file_inputs.length; i++) {
            if (file_inputs[i].type == "file" && !file_inputs[i].value) {
                all_files_selected = false;
            }
        }

        submit_button.disabled = !all_files_selected;
      }

    </script>
  </body>
</html>
