<!DOCTYPE html>
<html>
  <head>
    <title>Document Approval Form</title>
    {% load static %}
    <link href="{% static 'pmp/send_document.css' %}" rel="stylesheet" />
  </head>
  <body>
    <h1>Document Approval Form</h1>
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {% if error_message %}
        <p class="error">{{ error_message }}</p>
      {% endif %}
      {% if success_message %}
        <p class="success">{{ success_message }}</p>
      {% else %}
        <table>
          {% for item in document_names %}
          <tr>
            <td>
              <label for="document_{{ forloop.counter }}">{{ item }}:</label>
              <input
                accept="image/*,.pdf"
                id="document_{{ forloop.counter }}"
                name="document_{{ forloop.counter }}"
                onchange="preview_file(event, 'preview_{{ forloop.counter }}')"
                type="file"
              />
            </td>
            <td>
              <div
                class="preview"
                id="preview_{{ forloop.counter }}"
                onclick="toggle_fullscreen(this)"
              ></div>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="2">
              <input type="submit" value="Submit" />
            </td>
          </tr>
        </table>
      {% endif %}
    </form>
    <script>
      function preview_file(event, preview_id) {
        var file = event.target.files[0];
        var preview = document.getElementById(preview_id);

        if (file) {
          preview.style.display = "block";

          if (file.type.startsWith("image/")) {
            var reader = new FileReader();
            reader.onload = function () {
              preview.innerHTML =
                '<img src="' + reader.result + '" width="100%" height="100%">';
            };
            reader.readAsDataURL(file);
          } else if (file.type == "application/pdf") {
            preview.innerHTML =
              '<object data="' +
              URL.createObjectURL(file) +
              '" type="application/pdf" width="100%" height="100%"></object>';
          } else {
            preview.innerHTML = "Unsupported file type: " + file.type;
          }
        } else {
          preview.style.display = "none";
        }
      }

      function toggle_fullscreen(element) {
        if (element.style.display != "none") {
          element.classList.toggle("fullscreen");
        }
      }
    </script>
  </body>
</html>
