<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'pmp/style.css' %}">
    <title>FileUpload</title>
</head>
<body>
    <form action="" method="post" id="fileupload-form">
        {% csrf_token %}
        <a href=""><div id="fileupload-div">Clique aqui para enviar o documento{{form.as_div}}</div></a>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>